
.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

@media (min-width: 1025px) {
  .flex-column-desktop {
    flex-direction: column;
  }
  
  .h-desktop {
    display: none;
  }
}
