
<div>
  <h2 class="text-center">About Us</h2>
  <div class='two-col-desktop'> 
  <p>We are a veteren-owned and operated organiation dedicated to building a safe, crime-free and drug-free community for veterens transitioning back into civilian life.</p>
  <p>Our organization does not seek to make a profit off our nations heros. Instead, we pour all of our donations and rental income back into the community with new amenities and services.</p> 
  <p>Our community is comprised of single-occupency studio-style homes. We only lease to honorably discharged veterens without a record of civilian violence. This keeps our community safe enough for vets to bring their families to their new homes.</p>
  <p>We are still in the development stage but we are very excited to announce that we are actively seeking folks who would help to build their new community.</p>
  <p>We accept housing vouchers and encourage our villagers to explore the myriad of job opportunities in the area to work towards self-sufficiency</p>
  <p>If you are interested in assisting in the development of our village, <a href='./contact.html'>Contact us now!</a></p>
  </div>
</div>
