#community_images {
    display:flex;
    flex-direction:row;
}


.images_title {
    text-align: center;
    line-height: 50px;
}


/* Desktop */
@media (min-width: 1025px) {
    .header_images {
        width: 30%;
        margin-left: 1.5%;
        margin-right: 1.5%;
        height: min-content;
    }
}



/* Tablet */

@media (max-width: 1024px) {
    .flex-column-desktop {
      flex-direction: column;
    }
    
    .h-tablet {
      display: none;
    }

    .header_images {
        width: 47%;
        margin-left: 1.5%;
        margin-right: 1.5%;
        height: min-content;
    }
}

/* Phone */

@media (max-width: 480px) {
    .flex-column-desktop {
      flex-direction: column;
    }
    
    .h-desktop {
      display: none;
    }

    .h-phone {
        display: none;
    }

    .header_images {
        width: 97%;
        margin-left: 1.5%;
        margin-right: 1.5%;
        height: min-content;
    }
}