<h3 class="images_title"> A living in wellness with honor community </h3>

<link rel="stylesheet" href="../communityImages.css">
<div id="community_images">
    <img class="header_images" src="../assets/men_with_coffee.jpg" alt="Two men drinking coffee together">
    <img class="header_images h-tablet" src="../assets/gardening.jpg" alt="Older man and kid gardening together">
    <img class="header_images h-phone" src="../assets/together.jpg" alt="A group of four people hugging infront of the sunset">
</div>

