<h2 class="text-center"> Contact Us </h2>
<p>You've learned so much about us, but that begs the quesiton, how do you contact us? Well, we have multiple different ways to get ahold of us! If you'd like to contact us directly, you can email us at support@schousing@gmail.com. If you're more of a verbal person, you can call us at (890)-123-4567! If you have a specific question and can't get ahold of us, please enter your information in the form below so we can contact you with an answer. We look forward to hearing from all of you!</p>

<div class="contact_form text-center">
    <form>
        <div class="d-flex justify-center">
        
            <div>
                <fieldset><label for="name">Your name: </label></fieldset>
                <fieldset><label for="email">Email: </label></fieldset>
                <fieldset><label for="phone">Phone: </label></fieldset>
                <fieldset><label for="question">Questions: </label></fieldset>
            </div>

            <div>
                <fieldset> <input type="text" name="name" id="contact_name"></fieldset>
                <fieldset>  <input type="email" name="email" id="contact_email"></fieldset>
                <fieldset>  <input type="tel" name="phone" id="contact_phone"></fieldset>
                <fieldset>  <textarea name="question"></textarea></fieldset>
                <input class="box-shadow contact-form-button" type="submit" value="Send"> 
                <input class="box-shadow contact-form-button" type="reset" value="Reset"> 
            </div>
        </div>

        
    </form>
</div>