<h2 class="text-center"> Donate </h2>
<p>Are you looking to support our small community and help us grow? Use the form below to pledge your amount, as well as some contact info so that we can recognize your contribution! This village of people hopes to sustain it's self, but your contributions can help us kick-start more programs to help us make our services even better! We thank you for any support you may provide.</p>

<br>

<div class="contact_form text-center">
    <form>
        <div class="d-flex justify-center">
        
            <div>
                <fieldset><label for="name">Your name: </label></fieldset>
                <fieldset><label for="email">Email: </label></fieldset>
                <fieldset><label for="phone">Phone: </label></fieldset>
                <fieldset><label for="pledge">Pledge Amount: </label></fieldset>
            </div>

            <div>
                <fieldset> <input type="text" name="name" id="donate_name"></fieldset>
                <fieldset>  <input type="email" name="email" id="donate_email"></fieldset>
                <fieldset>  <input type="tel" name="phone" id="donate_phone"></fieldset>
                <fieldset>  <input type="text" name="pledge" id="pledge_amount"></fieldset>
                <input class="box-shadow donate-form-button" type="submit" value="Pledge"> 
                <input class="box-shadow donate-form-button" type="reset" value="Reset"> 
            </div>
        </div>

        
    </form>
</div>