<footer class='d-flex flex-column'>
 <div class='d-flex justify-between'>
  <img src="../assets/Salveo_Communitas.png" alt="Salveo Communitas Logo" width='80' height='80' class='m-1'>
  <div class='m-1'>
    <span>&#169; Copyright, 2024</span><br>
    <a href='https://webprofessionals.org'>Web Professionals Global</a><br>
    <p class='mt-1'>All rights reserved</p>
  </div>
 </div>
 <div>
   <a href='./index.html'>Home</a>|
   <a href="./signup.html">Sign Up!</a>|
   <a href="./donate.html">Donate</a>|
   <a href="./about.html">About Us</a>|
   <a href="./contact.html">Contact</a>
 </div>
</footer>
