<ul class="d-flex flex-column-desktop justify-around list-style-none fit-content-desktop no-pad-left">
  <li class="p-1-desktop"><a href="index.html" class="text-tiny-mobile">Home</a></li> <span class="h-desktop p-1-desktop">|</span>
  <li class="p-1-desktop"><a href="signup.html" class="text-tiny-mobile">Sign Up</a></li>  <span class="h-desktop p-1-desktop">|</span>
  <li class="p-1-desktop"><a href="donate.html" class="text-tiny-mobile">Donate</a></li>  <span class="h-desktop p-1-desktop">|</span>
  <li class="p-1-desktop"><a href="about.html" class="text-tiny-mobile">Home</a></li>  <span class="h-desktop p-1-desktop">|</span>
<li class="p-1-desktop"><a href="contact.html" class="text-tiny-mobile">Contact</a></li>
</ul>
