<div>
  <h2 class="text-center">Our Story</h2>
  <div class='two-col-desktop'> 
  <p>Our mission is to provide affordable homes for our nation's greatest heros. Veteren-Owned and Operated, we are dedicated to providing a safe and sustainable community for veterns. We believe that every veteren deserves a chance at a fulfulling life after serving our country. </p>
  <p>Our story started when our founder, Ben, bought a coffee for a fellow veteren, Mike, at a nearby coffee shop. Talking with him, he was appalled at the lack of resources his fellow veteren had access to. Like many veterens, Mike was struggling with homelessness. </p> 
  <p>Ben knew, same as Mike, that our nations veterens are some of the most hardworking and determined people in the United States. Ben called an architect friend and proposed his idea: a community of affordable tiny homes for veterens so that we could keep our heros off the streets.</p>
  <p>He envisioned somewhere where veterens could do more than just get by, he envisioned a place for them to thrive. So he began planning. Salveo Communitas would have resources like a community center, access to social work, health screenings, sustainable and beautiful gardens, proximity to accessible employment, and a community of folks who had been through the same struggles</p>
  <p>Today, we are looking to the future, and accepting applications for hardworking veterens to not only join our community but to play a part in establishing it.</p>
  <p>Join us as we embark on a journey to end veteren homelessness once and for all! </p>
  </div>
</div>
