<h2 class="text-center"> Sign Up! </h2>
<p>Are you interested in our growing community? Sign up now so we can reach out and learn if you'd be a <i> perfect </i> fit for us at Salveo Communitas!<br>Enter your information below and one of our representatives will reach out to you soon about becoming one of our 120 residents we plan to house!</p>

<br>

<div class="signup_form text-center">
    <form>
        <div class="d-flex justify-center">
        
            <div>
                <fieldset><label for="name">Your name: </label></fieldset>
                <fieldset><label for="email">Email: </label></fieldset>
                <fieldset><label for="phone">Phone: </label></fieldset>
            </div>

            <div>
                <fieldset> <input type="text" name="name" id="signup_name"></fieldset>
                <fieldset>  <input type="email" name="email" id="signup_email"></fieldset>
                <fieldset>  <input type="tel" name="phone" id="signup_phone"></fieldset>
                <input class="box-shadow signup-form-button" type="submit" value="Send"> 
                <input class="box-shadow signup-form-button" type="reset" value="Reset"> 
            </div>
        </div>

        
    </form>
</div>

</div>