<h3 class="images_title"> A living in wellness with honor community </h3>

<link rel="stylesheet" href="communityImages.css">
<div id="community_images">
    <img class="header_images" src="../assets/holdinghands.jpg" alt="Four people holding onto each other's hands">
    <img class="header_images h-tablet" src="../assets/welcomeboard.jpg" alt="A board displaying a welcome sign">
    <img class="header_images h-phone" src="../assets/vetandbag.jpg" alt="A veteran in his uniform boots next to his bag">
</div>

